OPENAI_API_KEY = ""
GITHUB_MCP_TOKEN = ""
JIRA_API_TOKEN = ""
JIRA_EMAIL = ""
JIRA_BASE_URL = ""
TAVILY_API_KEY = ""
DB_PASSWORD = ""
DB_USER = ""
DB_PORT = ""
DB_HOST = ""
DB_NAME = ""
DB_SSLMODE = ""
NVD_API_KEY = ""
GEMINI_API_KEY = ""