OPENAI_API_KEY = ""
GITHUB_MCP_TOKEN = ""
JIRA_API_TOKEN = ""
JIRA_EMAIL = ""
JIRA_BASE_URL = ""
TAVILY_API_KEY = ""
DB_PASSWORD = ""
DB_USER = ""
DB_PORT = ""
DB_HOST = ""
DB_NAME = ""
DB_SSLMODE = ""
NVD_API_KEY = ""
GEMINI_API_KEY = ""


# Database Settings
# History DB
DATABASE_URL=postgresql://postgres:<your-password>@localhost:5432/postgres
SQLITE_DB_NAME=state_db.sqlite

# Repository Target Settings
DEFAULT_REPO_OWNER=<VULN-REMD-OWNER-USERNAME>
DEFAULT_REPO_NAME=<VULN-REMD-REPO-NAME>

# Application Settings
BATCH_LIMIT=10